<ng-container *ngIf="blogs$ | async; let blogs">
  <div class="loading-container" *ngIf="blogs.isLoading">
    <p>Loading...</p>
    <br />
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div class="loading-container" *ngIf="blogs.error">
    <mat-icon>error</mat-icon>
    <br />
    <p>Failed loading blogs from the API</p>
    <br />
    <p>Service URL:</p>
    <p>{{ serviceUrl }}</p>
  </div>
  <app-blog-overview-card [blogs]="blogs"></app-blog-overview-card>
</ng-container>

<div>
  <h2>Current State:</h2>
  <pre>{{ currentState | json }}</pre>
</div>
