.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container height to full viewport height */
}

.spinner {
  width: 100px;
  height: 100px;
}
