mat-card {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 1024px;
  background-color: gainsboro;
}

mat-card-title,
mat-card-subtitle,
mat-card > span,
h4,
p {
  color: black;
}

mat-card-title {
  margin-bottom: 10px;
}

.comment-container {
  display: flex;
  align-items: top;
  margin-bottom: 10px;
}

.comment-icon {
  margin-right: 10px;
}

.comment-icon mat-icon {
  vertical-align: middle;
}

.comment-content > p {
  margin-left: 10px;
}

.centered-actions {
  display: flex;
  justify-content: center;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.comments-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments-card {
  width: 100%;
  max-width: 1024px;
}

.comments-container {
  width: 100%;
}

mat-card-subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
}
