<ng-container *ngIf="blog$ | async as blog">
  <div class="centered-container">
    <div class="loading-container" *ngIf="blog.isLoading">
      <p>Loading Blog...</p>
      <br />
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <div *ngIf="blog.error">
      <p>Error loading the blog:</p>
      <p>{{ blog.error.message }}</p>
    </div>

    <div class="blog-container" *ngIf="blog.data">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ blog.data.title }}</mat-card-title>
          <mat-card-subtitle
            ><mat-icon mat-list-icon class="person-icon">person</mat-icon>
            {{ blog.data.author | titlecase }}</mat-card-subtitle
          >
        </mat-card-header>

        <mat-card-content>
          <p>{{ blog.data.content }}</p>
        </mat-card-content>

        <mat-card-actions class="centered-actions">
          <button mat-icon-button color="primary">
            <mat-icon>thumb_up</mat-icon>
            <span>{{ blog.data.likes }}</span>
          </button>
          <button mat-icon-button color="warn" *ngIf="!blog.data?.likedByMe">
            <mat-icon>favorite</mat-icon>
          </button>
          <br />
          <br />
          <br />
          <br />
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="centered-container" *ngIf="blog.data">
    <div class="comments-container">
      <mat-card class="comments-card">
        <mat-card-header>
          <mat-card-title>Comments</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="comments-section">
            <div
              *ngFor="let comment of blog.data?.comments"
              class="comment-container"
            >
              <mat-icon mat-list-icon class="person-icon">person</mat-icon>
              <div class="comment-content">
                <h4 mat-line>
                  Posted by: {{ comment.author | titlecase }} -
                  {{ comment.date | date : "dd.MM.yyyy" }}
                </h4>
                <p mat-line>{{ comment.content }}</p>
                <p mat-line class="mat-body-2"></p>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>
