mat-card {
  margin-top: 20px;
}

mat-card-title,
mat-card-subtitle,
mat-card > span,
h4,
p {
  color: white;
  margin-bottom: 10px;
}

.blog-container > mat-card > mat-card-header > mat-card-title {
  margin-bottom: 100px;
}

.blog-container > mat-card > mat-card-header > mat-card-title {
  margin-bottom: 10px;
}

.comment-container {
  display: flex;
  align-items: top;
  margin-bottom: 10px;
}

.comment-content > p {
  margin-left: 10px;
}

.centered-actions {
  display: flex;
  justify-content: center;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.comments-container,
.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1024px;
}

.mdc-card {
  width: 100%;
}

mat-card-subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
  color: lightgrey;
}

.loading-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

// Text on same line as Author and Date
div .comment-content > mat-card-content {
  margin-left: 60px;
}

div > mat-icon {
  transform: scale(1.5);
  border-width: 2px;
  background-color: lightsalmon;
}

div[mat-card-avatar] {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card-subtitle > mat-icon {
  transform: scale(1);
  border-radius: 50%;
  color: black;
  background-color: lightskyblue;
}

mat-card-subtitle {
  height: 25px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

mat-card-subtitle > div {
  margin-left: 10px;
}

.mat-mdc-card-avatar {
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.comment-content > mat-card-header {
  padding: 0;
}

mat-card-title {
  margin-bottom: 0px;
}

mat-card-subtitle {
  margin-top: 0px;
}

mat-card-content {
  margin-top: 10px;
}
