<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [routerLink]="['/']">
      <mat-icon class="home-icon">home</mat-icon>
      <span>My App</span>
    </a>
    <a [routerLink]="['/add-blog-page']">
      <span>New Blog</span>
    </a>
    <span class="example-spacer"></span>
    <mat-icon *ngIf="loginService.getIsAuthenticated()">person</mat-icon>
    <span>{{ loginService.getUsername() }}</span>
    <!-- <span>{{ loginService.getIsAuthenticated() }}</span> -->
    <button
      mat-button
      (click)="login()"
      *ngIf="!loginService.getIsAuthenticated()"
    >
      <mat-icon>login</mat-icon>
    </button>
    <button
      mat-button
      (click)="logout()"
      *ngIf="loginService.getIsAuthenticated()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
